.app {
  text-align: center;
  max-height: 100vh;
}

.app-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-link {
  color: #61dafb;
}

.app-body {
  display: flex;  
}
.leaflet-container {
  height: 90vh;
}
.app-map-container {
  width: 50vw;
  height: 90vh;
}

.app-game-container {
  width: 50vw;
  height: 90vh;
}
@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
